body {
  font-family: 'Roboto', sans-serif;
  background: #00c6ff; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #00c6ff, #0072ff); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #00c6ff, #0072ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  margin: 0;
}

h1, h2 {
  font-family: 'Lato', sans-serif;
  color: #364F6B;
}

a {
  text-decoration: none;
}
footer {
  background-color: white;
  text-align: center;

}

.img-fixsize {
  width: 150px;
}

.img-fixsize:hover {
  opacity: 0.8;
}

.btn-fixsize {
  padding: 6px 5px;
  border-radius: 4px;
  border: 2px solid #364F6B;
  font-weight: bold;
  width: 150%;
}

.img-avatar {
  border-radius: 50%;
  width: 150px;
}

.img-avatar:hover {
  opacity: 0.9;
}

.btn-fixsize:hover {
  opacity: 0.6;
}

.div-white {
  background-color: rgb(255, 255, 255);
  margin: 42px 133px;
  padding: 48px 58px ;
  border-radius: 2px;
  box-shadow: 1px 1px 5px grey;
  text-align: center;
}

.div-white > ul >li {
  list-style-type: none;
  display: inline;
  padding: 0px 20px;
}

@media (max-width: 540px) {
  .container {
    padding: 0px;
    margin-top: 25px
  }

  .div-white {
    padding: 19px 17px 32px;
    margin-bottom: 0px;
    margin-top: 0px;
    margin: 20px 13px;
  }

  .div-white > ul > li {
    display: block;
    margin-bottom: 17px;
    padding-bottom: 4px;
  }
}

.div-white > ul {
  padding-left: 0px;
}

.fa-diamond {
  color: red;
}

#btn-message {
  color: #364F6B ;
}

#btn-github{
  border: 2px solid #323131;
  color: #323131;
}

#btn-linkedin{
  border: 2px solid #0077B5;
  color: #0077B5;
}

#btn-twitter{
  border: 2px solid #33CCFF;
  color: #33CCFF;
}

#div-resume {
/*  background-image: url(img/bulding.jpeg);
  background-size: cover;*/
}
.div-block {
  display: inline-block;
  margin: 0px 72px 48px;
}

.div-block > ul > li {
  list-style-type: none;
}

.div-block > ul {
  padding-left: 0px;

}
